/* 1111 */
:root {
  --Primary-Brand: #4d5ae5;
  --primary-title: #2e2f42;
  --primary-text: #434455;
}

ul {
  list-style-type: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

/* end1111 */

/* header */
.header {
}
.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.accent {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-link {
}

.nav-list {
}

.nav-list-item {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  line-height: 24px;
  letter-spacing: 2%;
}

.nav-list-item:hover .nav-list-item:focus {
  background-color: #404bbf;
}

.address-link {
}

.address-list {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;

  color: var(--primary-text);
}

.address-list-item {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 2%;
}

.address-list-item:hover {
  background-color: #404bbf;
}
/* header */

/* hero-section */

.hero-section {
  background-color: var(--primary-title);
  color: #ffffff;
}

.hero-title {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
}

.hero-button {
  width: 169;
  height: 56;
  angle: 0 deg;
  opacity: 1;
  top: 428px;
  left: 636px;
  gap: 10px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 4px;
  background-color: var(--Primary-Brand);
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

/* hero-section */

/* Our Features */
.features {
}

.features-title {
}

.features-list {
}

.features-list-item {
}

/* End OF */

/* Team */
.Team {
  background-color: #f4f4fd;
}

.team-title {
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

/* End Team */

/* portfolio */
.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-list-item {
}

/* End Portfolio */

/*footer*/
footer {
  color: #f4f4fd;
}
.footer {
  background-color: var(--primary-title);
}
