/* 1111 */
:root {
  --Primary-Brand: #4d5ae5;
  --primary-title: #2e2f42;
  --primary-text: #434455;
}

ul {
  list-style-type: none;
}
h2,
h3{
    color: var(--primary-title);
}
p {
 color: var(--primary-text);
}

a {
  font-family: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* end1111 */

/* header */
.header {
}
.logo-link {
  font-family: Raleway;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #2E2F42;
  
}

.accent {
  font-family: Raleway;
  font-weight: 700;

  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-link {
   
}

.nav-list {
    font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2%;
        
}

.nav-list-item {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
color: #2E2F42;

}

.nav-list-item:hover,
.nav-list-item:focus
{
color: #404bbf;
}


.address-link {

}

.address-list {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2;
}

.address-list-item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5;
color: #2E2F42;
}

.address-list-item:hover,   
.address-list-item:focus         {
  color: #404bbf;
}
/* header */

/* hero-section */

.hero-section {
  background-color: var(--primary-title);
  color: #ffffff;
}

.hero-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2;
  text-align: center;
}

.hero-button {
  width: 169;
  height: 56;
  border-radius: 4px;
  background-color: var(--Primary-Brand);
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}

/* hero-section */

/* Our Features */
.features {
}

.features-title {
    font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 2%;
        text-align: center;
}

.features-list {
}

.features-list-item {
}

/* End OF */

/* Team */
.Team {
  background-color: #f4f4fd;
}

.team-title {
    font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: 2;
        text-align: center;
}

.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

.team-card-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 2;
        text-align: center;
        color: #2E2F42;

}

.team-card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2;
    text-align: center;

}

/* End Team */

/* portfolio */
.portfolio {
}

.portfolio-title {
    font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 2;
        text-align: center;
}


.portfolio-list {
}

.portfolio-list-item {
}

/* End Portfolio */

















.footer {
  background-color: var(--primary-title);
}

.footer-logo-link{
    font-family: Raleway;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 3;
        text-transform: uppercase;
color: #f4f4fd;
}
